@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background-color:var(--tg-theme-bg-color);
  height: 100%;
  width: 100%;
}

.help{
  padding: .5em 2em;
  font-family: "Open Sans", sans-serif;
  pointer-events: none;
  color: var(--tg-theme-text-color);
  position: fixed;
  z-index: 2;
}
.photo .ancor{
  position: fixed;
}
.photo img{
  position: absolute;
}
.photo{
  background-image: radial-gradient(circle at center, var(--tg-theme-secondary-bg-color) 45vmin, var(--tg-theme-bg-color) 45vmin);
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.overlay{
  pointer-events: none;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle at center, transparent 45vmin, var(--tg-theme-bg-color) 45vmin);
  opacity: .6;
}
