body {
  margin: 0;
  background-color: #112;
  height: 100%;
  width: 100%;
}

.help{
  padding: .5em 2em;
  pointer-events: none;
  color:#fff;
  position: fixed;
  z-index: 2;
}
.photo .ancor{
  position: fixed;
}
.photo img{
  position: absolute;
}
.photo{
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.overlay>div{
  pointer-events: none;
  background: repeat url(./frame_outer.png);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.overlay>div:nth-child(1){
  background: no-repeat center/100% url(./frame_tpl.png);
  width: 95vmin;
  height: 95vmin;
}
.overlay>div:nth-child(2){
  left:0;
}
.overlay>div:nth-child(3){
  top:0;
}
.overlay>div:nth-child(4){
  top:0;
}
.overlay>div:nth-child(5){
  left:0;
}
