:root {
  --tg-color-scheme: dark;
  --tg-theme-accent-text-color: #6ab2f2;
  --tg-theme-bg-color: #17212b;
  --tg-theme-button-color: #5288c1;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-destructive-text-color: #ec3942;
  --tg-theme-hint-color: #708499;
  --tg-theme-link-color: #6ab3f3;
  --tg-theme-secondary-bg-color: #232e3c;
  --tg-theme-section-bg-color: #17212b;
  --tg-theme-section-header-text-color: #6ab3f3;
  --tg-theme-subtitle-text-color: #708499;
  --tg-theme-text-color: #f5f5f5;
  font-size: 4vw;
}
@font-face {
  font-family: icons;
  src: url('icons/icons.woff2') format('woff2'),
       url('icons/icons.woff') format('woff');
}
body {
  user-select: none;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  --frame-radius: 35vmin;
  --top-size: calc(100vw/7);
}

#total-sum {
  position: fixed;
  background-color: var(--tg-theme-secondary-bg-color);
  z-index: 1;
  right: .2em;
  top: .2em;
  box-sizing: border-box;
  border-radius: .2em;
  padding: .2em .5em;
  text-align: right;
}
#total-sum .value::after{
  content: "₽";
  font-weight: normal;
  padding: .15em;
  color: var(--tg-theme-subtitle-text-color);
} 
#total-sum .value{
  content: "₽";
  font-weight: bold;
  padding: .15em;
  color: var(--tg-theme-accent-text-color);
} 
.icon {
  font-family: icons;
  font-size: 2em;
}

html[lang=en] [lang]:not([lang=en]),
html[lang=ru] [lang]:not([lang=ru]){
    display: none;
}

.item {
  display: grid;
  grid-template-columns: auto 2em;
  height: 3em;
}
.item input[type=radio],.item input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.5em; /* Adjusted for better visual balance with border */
  height: 1.5em; /* Adjusted for better visual balance with border */
  align-self: center;
  justify-self: center;
  border: .2em solid var(--tg-theme-button-color);
  background-color: transparent;
  margin: .25em; /* Ensure border doesn't overlap */
  position: relative; /* For positioning the checkmark */
}
.item input[type=radio] {
  border-radius: 50%; /* Make radio buttons circular */
}
.item input[type=checkbox] {
  border-radius: .2em; /* Slightly rounded corners for checkbox */
}

.item input[type=radio]:checked,
.item input[type=checkbox]:checked {
  background-color: var(--tg-theme-button-color);
}

.item input[type=checkbox]:checked::before {
  content: '\2713'; /* Unicode checkmark character */
  color: var(--tg-theme-button-text-color);
  position: absolute;
  font-size: 1.2em; /* Adjust size of checkmark */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1; /* Ensure proper vertical alignment */
}

.item input[type=radio]:disabled,
.item input[type=checkbox]:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  border-color: var(--tg-theme-hint-color); /* Use a less prominent border color */
}

.item input[type=checkbox]:disabled:checked::before {
  color: var(--tg-theme-hint-color); /* Grey out the checkmark as well */
  opacity: 0.6;
}

section.meal {
  margin-top: 1em;
}
.lunch .meals>.description {
  margin: .2em .5em;
  font-style:  italic;
  font-size: .8em;
}
.day {
  width: 90%;
  color: var(--tg-theme-section-header-text-color);
  grid-column-start: 1;
  grid-column-end: span 3;
  padding-left: 1em;
  font-size: 1.7rem;
  font-weight: 300;
  border-bottom: 1px solid var(--tg-theme-section-header-text-color);
}
.mealtime {
  width: 90%;
  padding-left: 1.2em;
  color: var(--tg-theme-subtitle-text-color);
  grid-column-start: 1;
  grid-column-end: span 3;
  font-size: 1.5rem;
  font-weight: 300;
}
.combo-class .combo-name {
  color: var(--tg-theme-subtitle-text-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .5em;
  margin-left: 1.6em;
}
/* Added style for unfilled lunch categories */
.combo-class.unfilled {
  border: 1px solid red !important; /* Thin red border */
  box-sizing: border-box; /* Ensures padding and border are within the element's total width and height */
}
.with-soup.explanation {
  display: grid;
  width: 100%;
  grid-template-columns: 2em auto 3em 5em;
  align-content: center;
}
.with-soup.explanation> .name {
  grid-column: 2;
  font-style: italic;
}
.with-soup.explanation> .price {
  grid-column: 3;
  justify-self: center;
}
.item label {
  display: grid;
  grid-template-columns: 2em auto 3em 3em;
  height: 3em;
}
.item .price {
  justify-self: center;
  align-self: center;
}
.with-soup.explanation> .price::after,
.item .price::after{
  content: "₽";
  padding: .15em;
  color: var(--tg-theme-subtitle-text-color);
} 
.item.no-soup .name{
  font-style: italic;
}
.lunch .item:not(.no-soup) label .name {
  grid-column: 2/ span 2;
}
.item label .name {
  align-self: center;
}
.item .description-button {
  width: 1.3em;
  justify-self: center;
  height: 1.3em;
  font-size: 1.3em;
  border-radius: 50%;
  font-weight: bold;
  border: black none 0px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  align-self: center;
}
.item .description {
  display: none;
  z-index: 2;
  position: fixed;
  background-color: var(--tg-theme-secondary-bg-color);
  --offset: .4em;
  top:var(--offset);
  left:var(--offset);
  width: calc(100% - 2 * var(--offset) - 2em);
  height: calc(100% - 2 * var(--offset));
  border-radius: var(--offset);
  padding: calc(var(--offset) * 1.5);
  box-sizing: border-box;
  pointer-events: none;
  gap: .2em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: [name] auto [image] 50% [ingredients] auto [nutrition1] 1fr [nutrition2] 1fr [nutrition3];
}
.description .name {
  grid-column: 1 / span 5;
  grid-row: name / image;
  font-size: 1.3em;
  color: var(--tg-theme-section-header-text-color);
}
.description img {
  grid-column: 1 / span 5;
  grid-row: image / span 1;
  border-radius: 0.2em;
  place-self: center;
  max-height: 100%;
  max-width: 100%;
}
.description .ingredients {
  grid-column: 1 / span 5;
  font-size: .9em;
}
.description .weight::before {
  content: "K";
}
.description .weight {
  grid-row: nutrition2;
  grid-column: 1;
}

.description .carbohydrates::before,
.description .calories::after,
.description .weight::before {
  font-family: icons;
  font-size:1.3em;
  margin: 0 0.2em;
  color:var(--tg-theme-hint-color);
}
.description .weight, .description .nutrition {
  font-size: 1.4em;
  color:var(--tg-theme-section-header-text-color);
}
.description .carbohydrates::before {
  height: 1.4em;
  content: "A";
  display: block;
}
.description .carbohydrates {
  align-self: start;
  text-align: center;
  justify-self: center;
  grid-row: nutrition2;
  grid-column: 3;
}
.description .fat {
  align-self: end;
  text-align: center;
  justify-self: start;
  grid-row: nutrition1;
  grid-column: 4;
}
.description .protein {
  align-self: end;
  text-align: center;
  justify-self: end;
  grid-row: nutrition1;
  grid-column: 2;
}
.description .calories::after {
  content: "S";
}
.description .calories {
  grid-row: nutrition2;
  grid-column: 5;
}
.item .description-button:active + .description {
  display: grid;
}
.item img.small_photo {
  grid-column: 4;
  justify-self: center;
  align-self: center;
  max-height: 3em;
  max-width: 3em;
  border-radius: 0.3em;
}
/* Custom Dialog Styles */
#custom-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it's above other content */
}

.custom-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  z-index: 1000; /* Above the overlay */
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.custom-dialog p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.4;
}

.custom-dialog button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-dialog button:hover {
  opacity: 0.9;
}

.custom-dialog .dialog-buttons {
  display: flex;
  justify-content: space-around; /* Or space-between / flex-end */
  margin-top: 15px;
}

.custom-dialog .dialog-buttons button {
  min-width: 100px;
}

/* Style for the cancel button in confirm dialog */
#custom-confirm-cancel-button {
  background-color: var(--tg-theme-destructive-text-color); /* Or a more neutral color like var(--tg-theme-hint-color) or var(--tg-theme-secondary-bg-color) with a border */
}
#custom-confirm-cancel-button:hover {
   opacity: 0.9;
}


.hidden {
  display: none !important;
}