<!DOCTYPE html>
<html>
    <head>
        <script>
            const photo_id="{{id}}";
            const real_frame_size={{real_frame_size}};
        </script>
        <link rel="stylesheet" type="text/css" href="./static/fit_frame.css"></link>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script type="module" src="./static/fit_frame.mjs"></script>
    </head>
    <body>
        <div class="help">
            Фото можно перемещать, вращать и масштабировать. Для
            масштабирования или вращения мышкой, используйте
            прокрутку и кнопку Shift.
        </div>
        <div class="photo">
            <div class="ancor"><img src="photos/{{id}}"></div>
        </div>
        <div class="overlay"><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div></div>
    </body>
</html>