<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="./static/massage_timetable.css"></link>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
        <script type="module" src="./static/massage_timetable.mjs"></script>
    </head>
    <body>
        <ul class="timetable_togglers">
            <li><label for="timetable_my_toggle"><span lang="ru">Только мои</span><span lang="en">Only mine</span></label></li>
        </ul>
        <input type="radio" name="timetable_toggle" id="timetable_my_toggle">
        <div id="timetable">
        </div>
    </body>
</html>