<!DOCTYPE HTML>
<html lang="{{lang}}">
    <head>
        <script>
            const user_order = {% raw json_encode(user_order) %};
            const read_only = {% raw json_encode(read_only) %};
            const user_order_id = {% raw json_encode(user_order_id) %};
            const finish_button_text={% raw json_encode(finish_button_text) %};
            const alert_lunch_incomplete_text = {% raw json_encode(alert_lunch_incomplete_text) %};
            const confirm_dinner_empty_text = {% raw json_encode(confirm_dinner_empty_text) %};
            const orig_msg_id = {% raw json_encode(orig_msg_id) %};
            const orig_chat_id = {% raw json_encode(orig_chat_id) %};
        </script>
        <title>Zouk Non Stop Menu</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="./static/menu.css"></link>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script type="module" src="./static/menu.mjs?{{random}}"></script>
    </head>
    <body>
        <div id="total-sum">
            <span class="label" lang="ru">Всего:</span>
            <span class="label" lang="en">Total:</span>
            <span class="value">0</span>
        </div>
        <section class="friday lunch meal">
            <div class="day">
                <span lang="ru">Пятница</span>
                <span lang="en">Friday</span>
            </div>
            <div class="mealtime">
                <span lang="ru">Обед</span>
                <span lang="en">Lunch</span>
            </div>
            <div class="meals">
                <div class="item no-lunch">
                    <div class="item no-lunch">
                        <label>
                            <input type="radio" name="friday-lunch-soup" value="no-lunch" />
                            <span class="name" lang="ru">Без обеда</span>
                            <span class="name" lang="en">Without lunch</span>
                        </label>
                    </div>
                </div>
                <div class="description">
                    <span lang="ru">Комбо обед из основного блюда, гарнира, салата и булочки</span>
                    <span lang="en">Combo lunch with main dish, side dish, salad, and a bun</span>
                </div>
                <div class="combo-class soup">
                    <div class="combo-name">
                        <span lang="ru">Суп</span>
                        <span lang="en">Soup</span>
                    </div>
                    <div class="item no-soup">
                        <label>
                            <input type="radio" name="friday-lunch-soup" value="no-soup" />
                            <span class="name" lang="ru">Без супа</span>
                            <span class="name" lang="en">Without soup</span>
                            <span class="price">555</span>
                        </label>
                    </div>
                    <div class="with-soup explanation">
                        <span class="name" lang="ru">С супом:</span>
                        <span class="name" lang="en">With soup:</span>
                        <span class="price">665</span>
                    </div>
                    <div class="with-soup choices">
                    </div>
                </div>
                <div class="combo-class main">
                    <div class="combo-name">
                        <span lang="ru">Второе</span>
                        <span lang="en">Main dish</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
                <div class="combo-class side">
                    <div class="combo-name">
                        <span lang="ru">Гарнир</span>
                        <span lang="en">Side dish</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
                <div class="combo-class salad">
                    <div class="combo-name">
                        <span lang="ru">Салат</span>
                        <span lang="en">Salad</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
            </div>
        </section>
        <section class="friday dinner meal">
            <div class="day">
                <span lang="ru">Пятница</span>
                <span lang="en">Friday</span>
            </div>
            <div class="mealtime">
                <span lang="ru">Ужин</span>
                <span lang="en">Dinner</span>
            </div>
            <div class="meals">
            </div>
        </section>
        <section class="saturday lunch meal">
            <div class="day">
                <span lang="ru">Суббота</span>
                <span lang="en">Saturday</span>
            </div>
            <div class="mealtime">
                <span lang="ru">Обед</span>
                <span lang="en">Lunch</span>
            </div>
            <div class="meals">
                <div class="item no-lunch">
                    <div class="item no-lunch">
                        <label>
                            <input type="radio" name="saturday-lunch-soup" value="no-lunch" />
                            <span class="name" lang="ru">Без обеда</span>
                            <span class="name" lang="en">Without lunch</span>
                        </label>
                    </div>
                </div>
                <div class="description">
                    <span lang="ru">Комбо обед из основного блюда, гарнира, салата и булочки</span>
                    <span lang="en">Combo lunch with main dish, side dish, salad, and a bun</span>
                </div>
                <div class="combo-class soup">
                    <div class="combo-name">
                        <span lang="ru">Суп</span>
                        <span lang="en">Soup</span>
                    </div>
                    <div class="item no-soup">
                        <label>
                            <input type="radio" name="saturday-lunch-soup" value="no-soup" />
                            <span class="name" lang="ru">Без супа</span>
                            <span class="name" lang="en">Without soup</span>
                            <span class="price">555</span>
                        </label>
                    </div>
                    <div class="with-soup explanation">
                        <span class="name" lang="ru">С супом</span>
                        <span class="name" lang="en">With soup</span>
                        <span class="price">665</span>
                    </div>
                    <div class="with-soup choices">
                    </div>
                </div>
                <div class="combo-class main">
                    <div class="combo-name">
                        <span lang="ru">Второе</span>
                        <span lang="en">Main dish</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
                <div class="combo-class side">
                    <div class="combo-name">
                        <span lang="ru">Гарнир</span>
                        <span lang="en">Side dish</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
                <div class="combo-class salad">
                    <div class="combo-name">
                        <span lang="ru">Салат</span>
                        <span lang="en">Salad</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
            </div>
        </section>
        <section class="saturday dinner meal">
            <div class="day">
                <span lang="ru">Суббота</span>
                <span lang="en">Saturday</span>
            </div>
            <div class="mealtime">
                <span lang="ru">Ужин</span>
                <span lang="en">Dinner</span>
            </div>
            <div class="meals">
            </div>
        </section>
        <section class="sunday lunch meal">
            <div class="day">
                <span lang="ru">Воскресенье</span>
                <span lang="en">Sunday</span>
            </div>
            <div class="mealtime">
                <span lang="ru">Обед</span>
                <span lang="en">Lunch</span>
            </div>
            <div class="meals">
                <div class="item no-lunch">
                    <div class="item no-lunch">
                        <label>
                            <input type="radio" name="sunday-lunch-soup" value="no-lunch" />
                            <span class="name" lang="ru">Без обеда</span>
                            <span class="name" lang="en">Without lunch</span>
                        </label>
                    </div>
                </div>
                <div class="description">
                    <span lang="ru">Комбо обед из основного блюда, гарнира, салата и булочки</span>
                    <span lang="en">Combo lunch with main dish, side dish, salad, and a bun</span>
                </div>
                <div class="combo-class soup">
                    <div class="combo-name">
                        <span lang="ru">Суп</span>
                        <span lang="en">Soup</span>
                    </div>
                    <div class="item no-soup">
                        <label>
                            <input type="radio" name="sunday-lunch-soup" value="no-soup" />
                            <span class="name" lang="ru">Без супа</span>
                            <span class="name" lang="en">Without soup</span>
                            <span class="price">555</span>
                        </label>
                    </div>
                    <div class="with-soup explanation">
                        <span class="name" lang="ru">С супом</span>
                        <span class="name" lang="en">With soup</span>
                        <span class="price">665</span>
                    </div>
                    <div class="with-soup choices">
                    </div>
                </div>
                <div class="combo-class main">
                    <div class="combo-name">
                        <span lang="ru">Второе</span>
                        <span lang="en">Main dish</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
                <div class="combo-class side">
                    <div class="combo-name">
                        <span lang="ru">Гарнир</span>
                        <span lang="en">Side dish</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
                <div class="combo-class salad">
                    <div class="combo-name">
                        <span lang="ru">Салат</span>
                        <span lang="en">Salad</span>
                    </div>
                    <div class="choices">
                    </div>
                </div>
            </div>
        </section>
        <section class="sunday dinner meal">
            <div class="day">
                <span lang="ru">Воскресенье</span>
                <span lang="en">Sunday</span>
            </div>
            <div class="mealtime">
                <span lang="ru">Ужин</span>
                <span lang="en">Dinner</span>
            </div>
            <div class="meals">
            </div>
        </section>
        <div id="custom-dialog-overlay" class="hidden"></div>
        <div id="custom-alert-dialog" class="custom-dialog hidden">
            <p id="custom-alert-message"></p>
            <button id="custom-alert-ok-button">OK</button>
        </div>

        <div id="custom-confirm-dialog" class="custom-dialog hidden">
            <p id="custom-confirm-message"></p>
            <div class="dialog-buttons">
                <button id="custom-confirm-cancel-button">
                    <span lang="ru">Отмена</span>
                    <span lang="en">Cancel</span>
                </button>
                <button id="custom-confirm-ok-button">
                    <span lang="ru">Подтвердить</span>
                    <span lang="en">Confirm</span>
                </button>
            </div>
        </div>
    </body>
</html>