<!DOCTYPE HTML>
<html>
    <head>
        <script>
            const user_carts = {% raw user_carts %};
            const user_order_id = {% raw order_id %};
            const read_only = {% raw read_only %};
        </script>
        <title>Zouk Non Stop Поток: Меню</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="./static/menu.css"></link>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script type="module" src="./static/menu.mjs"></script>
    </head>
    <body>
        <div id="menu-nav">
        </div>
        <button id="btn-back"><span class="icon">P</span><span>Назад</span></button>
        <div id="menu-items">
        </div>
        <div id="cart-contents">
            <div data-day="wednesday">
                <div data-meal="lunch">
                    <h3><span class="icon">J</span> <span class="day">Среда</span><span class="meal">Обед</span></h3>
                    <div class="sum"></div>
                    <div class="contents"></div>
                </div>
                <div data-meal="dinner">
                    <h3><span class="icon">I</span> <span class="day">Среда</span><span class="meal">Ужин</span></h3>
                    <div class="sum"></div>
                    <div class="contents"></div>
                </div>
            </div>
            <div data-day="friday">
                <div data-meal="dinner">
                    <h3><span class="icon">I</span> <span class="day">Пятница</span><span class="meal">Ужин</span></h3>
                    <div class="sum"></div>
                    <div class="contents"></div>
                </div>
            </div>
            <div data-day="saturday">
                <div data-meal="lunch">
                    <h3><span class="icon">J</span> <span class="day">Суббота</span><span class="meal">Обед</span></h3>
                    <div class="sum"></div>
                    <div class="contents"></div>
                </div>
                <div data-meal="dinner">
                    <h3><span class="icon">I</span> <span class="day">Суббота</span><span class="meal">Ужин</span></h3>
                    <div class="sum"></div>
                    <div class="contents"></div>
                </div>
            </div>
            <div data-day="sunday">
                <div data-meal="lunch">
                    <h3><span class="icon">J</span> <span class="day">Воскресенье</span><span class="meal">Обед</span></h3>
                    <div class="sum"></div>
                    <div class="contents"></div>
                </div>
                <div data-meal="dinner">
                    <h3><span class="icon">I</span> <span class="day">Воскресенье</span><span class="meal">Ужин</span></h3>
                    <div class="sum"></div>
                    <div class="contents"></div>
                </div>
            </div>
        </div>
        <div id="carts">
            <div class="days">
                <div data-day="wednesday">
                    <div data-meal="lunch">J</div>
                    <div data-meal="dinner">I</div>
                    <div class="day-name">СР</div>
                </div>
                <div data-day="thursday">
                    <div class="day-name">ЧТ</div>
                </div>
                <div data-day="friday">
                    <div data-meal="dinner">I</div>
                    <div class="day-name">ПТ</div>
                </div>
                <div data-day="saturday">
                    <div data-meal="lunch">J</div>
                    <div data-meal="dinner">I</div>
                    <div class="day-name">СБ</div>
                </div>
                <div data-day="sunday">
                    <div data-meal="lunch">J</div>
                    <div data-meal="dinner">I</div>
                    <div class="day-name">ВС</div>
                </div>
                <button class="close">×</button>
            </div>
            <div class="edit">
                <div class="total"></div>
                <button id="btn-cart-edit" class="icon">R</button>
            </div>
        </div>
    </body>
</html>