<!DOCTYPE HTML>
<html lang="{{lang}}">
    <head>
        <script>
            const user_order = {% raw json_encode(user_order) %};
            const read_only = {% raw json_encode(read_only) %};
            const user_order_id = {% raw json_encode(user_order_id) %};
            const finish_button_text = {% raw json_encode(finish_button_text) %};
            const next_button_text = {% raw json_encode(next_button_text) %};
            const validity_error_first_name = {% raw json_encode(validity_error_first_name) %};
            const validity_error_last_name = {% raw json_encode(validity_error_last_name) %};
        </script>
        <title>Zouk Non Stop orders</title>
        <meta charset="utf-8">
        {% if len(debug_id) > 0 %}
        <script src="https://remotejs.com/agent/agent.js" data-consolejs-channel="{% raw debug_id %}"></script>
        {% end %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./static/orders.css">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script type="module" src="./static/orders.mjs"></script>
    </head>
    <body>
        <div id="total-sum">0</div>

        <section class="for-who">
            <label>
                <span>
                    <span lang="ru">Введи своё полное ФИО</span>
                    <span lang="en">Enter your full name</span>
                </span>
                <input type="text" name="for_who_first_name" required placeholder="{{placeholder_first_name}}">
                <input type="text" name="for_who_patronymus" placeholder="{{placeholder_patronymus}}">
                <input type="text" name="for_who_last_name" required placeholder="{{placeholder_last_name}}">
            </label>
        </section>

        <section class="excursions">
            <span lang="ru">Выбери, что тебе нужно</span>
            <span lang="en">Choose what you need</span>
            <label>
                <span lang="ru">Препати</span>
                <span lang="en">Preparty</span>
                35 BYN
                <input type="checkbox" name="preparty">
            </label>
            <label>
                <span lang="ru">Экскурсия по Минску</span>
                <span lang="en">Minsk excursion</span>
                25 BYN
                <input type="checkbox" name="excursion_minsk">
            </label>
            <label>
                <span lang="ru">Трансфер из Минска в Гродно</span>
                <span lang="en">Transfer from Minsk to Grodno</span>
                60 BYN
                <input type="checkbox" name="shuttle_bus">
            </label>
            <label>
                <span lang="ru">Экскурсия по Гродно</span>
                <span lang="en">Grodno excursion</span>
                25 BYN
                <input type="checkbox" name="excursion_grodno">
            </label>
            <span lang="ru">Выбор еды будет далее.</span>
            <span lang="en">Food selection will follow.</span>
        </section>

        <section class="friday dinner meal">
            <div class="day"><span lang="ru">Пятница</span><span lang="en">Friday</span></div>
            <div class="mealtime"><span lang="ru">Ужин</span><span lang="en">Dinner</span></div>
        </section>

        <section class="saturday lunch meal">
            <div class="day"><span lang="ru">Суббота</span><span lang="en">Saturday</span></div>
            <div class="mealtime"><span lang="ru">Обед</span><span lang="en">Lunch</span></div>
        </section>

        <section class="saturday dinner meal">
            <div class="day"><span lang="ru">Суббота</span><span lang="en">Saturday</span></div>
            <div class="mealtime"><span lang="ru">Ужин</span><span lang="en">Dinner</span></div>
        </section>

        <section class="sunday lunch meal">
            <div class="day"><span lang="ru">Воскресенье</span><span lang="en">Sunday</span></div>
            <div class="mealtime"><span lang="ru">Обед</span><span lang="en">Lunch</span></div>
        </section>

        <section class="sunday dinner meal">
            <div class="day"><span lang="ru">Воскресенье</span><span lang="en">Sunday</span></div>
            <div class="mealtime"><span lang="ru">Ужин</span><span lang="en">Dinner</span></div>
        </section>
    </body>
</html>
